    
    <main role="main" class="container">
      <div class="starter-template">
        <h1>Oups...</h1>
        <p class="lead">
          <?= $message; ?>
        </p>
      </div>
      <?php include "html_foot_retour.html"; ?>
    </main>