<link rel="stylesheet" type="text/css" href="src/View/css/style_foot.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <div class="boutons">
    <body class="back">
       <div class="btn from-left"onclick="history.go(-1)"><span class="text">RETOUR</span></div>
    </body>
     <body class="back">
       <div class="btn from-left" ><span class="text"><a href="?page=deconnexion">DECONNEXION</a></span></div>
    </body>
   </div>
   
    
    

 