@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

.tableau{
  
  position: relative;
  bottom: 15%;

  
}
.btn-add{
  position: relative;
  top: 25%;
  right: -10%;
  text-align: right;
}
footer{
 
  position: relative;
  bottom: 100px;
  text-align: center;
}
.content{
  margin-bottom: 20%;
 


}
.titre h1{
  text-align: center;
  font-size: 40pt;
  color: white;
  text-transform: uppercase;
 
  
}



/*//////////////////////////////////////////////////////////////////
[ Table ]*/



td, th{
  border-radius: 0px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5em;
}

.column100 {
  
  width: 160px;
 
  padding-left: 25px;
}



.row200.head th {
  padding-top: 10px;
  padding-bottom: 10px;
  
  
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
  
  
}

.column2 {
  width: 800px;
 
  
}

.tableau{
  bottom: 145px;

}
.row100 td:hover{
 
  font-size: 1.5em;
  font-weight: bolder;
  justify-content: center;

  text-transform: uppercase;
}
.row100:hover,
.row100:focus {
 
	transform: scale(1.1);
	box-shadow: 0 0 40px rgb(159, 170, 205) inset, 0 0 20px #BEAE8C inset, 0 0 15px #848cb6;
}
table td{
  color: rgb(233, 223, 223);

}
  
.row100 td{

  cursor: pointer;
}


/*---------CHEVRONS SCROLL-------*/

.demo p {
  position: absolute;
  bottom: 40%;
  left: 25%;
  
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: darkorange ;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
 
}
.demo p:hover {
  opacity: .5;
}

::-webkit-scrollbar{
  display: none;
}




#section07 p {
  padding-top: 80px;
}
#section07 p span {
  position: absolute;
  top: 0;
  
  width: 40px;
  height: 40px;
 
  border-left: 7px solid darkorange ;
  border-bottom: 7px solid darkorange ;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 p span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 p span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 p span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*bouton aide*/
.col-7{
  font-size: 1.5em;
  
}
