


.btn {		
	position: relative;	
	padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;
	font-size: 1.4rem;
	color: var(--inv);
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: var(--def);
	transition-delay: .6s;
	
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .2s;
}


/* From Left */

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
	
}

.from-left:before {
	right: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}



/* ~~~~~~~~~~~~ GLOBAL SETTINGS ~~~~~~~~~~~~ */

*, *:before, *:after {
	box-sizing: border-box;
}

.back {
	--def: darkorange ; 	
	--inv: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);   
}

.text{
	font-size: 1.5em;
}
.text:hover{
	color: darkorange ;
}

.from-left a{
	text-decoration: none;
	color: darkorange ;
}
.from-left a:hover{
	text-decoration: none;
	color: darkorange ;
}

@media (max-width: 1400px){
	.boutons{

		width: 80%;
		
		text-align: center;
	}
}