
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }

.titre{
  color: white;
  
}
.titre h1{
  font-size: 30pt;
  text-transform: uppercase;
  letter-spacing: 1.1rem;
}

.container{
  
  padding-bottom: 15%;
}

.row{
padding-left: 3%;
padding-top: 13%;



}
h1
{
 
    font-family: Poppins-Bold;
    text-align: center;
    font-size: 4em;
}


.container{
      column-width: 70px;
      column-count: 2;  
 
}

.row100
{
 
  display: inline-block;
  width: 400px;
  height: 80px;
  color: white;
  cursor: pointer;
  
}
.row100:hover{
 
  font-weight: bolder;
}
.row{
  
  position: relative;
  top: 25%;
  left: 1%;
  

}
.row100 td:hover{

  font-size: 1.5em;
  font-weight: bolder;
  justify-content: center;

  text-transform: uppercase;
}
.row100:hover,
.row100:focus {
	transform: scale(1.1);
  box-shadow: 0 0 40px rgb(159, 170, 205) inset, 0 0 20px #BEAE8C inset, 0 0 15px #848cb6;
}

  .table-filter tr td:first-child {
    width: 380px;
  }


 
 .test{
   position: fixed;
  left: 38%;
   bottom: 10%;
   
  
 }
 img:hover{
  transform: scale(2.5);
 }
  
  .table-filter .media-photo {
    width: 50px;
  }
  .table-container{
   position: relative;
   bottom: 20%;

  }



  @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}




/*---------CHEVRONS SCROLL-------*/
.demo p {
  position: absolute;
  bottom: 40%;
  left: 10%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: darkorange ;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
 
}
.demo p:hover {
  opacity: .5;
}


::-webkit-scrollbar{
  display: none;
}



#section07 p {
  padding-top: 80px;
}
#section07 p span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
 
  border-left: 7px solid darkorange ;
  border-bottom: 7px solid darkorange ;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 p span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 p span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 p span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* -------BOUTON RETOUR------*/
.text{
	font-size: 2em;
}
/*bouton aide*/
.col-7{
  font-size: 1em;
}
.btn_aide{
  margin-bottom: 40px;
  position: fixed;
  right: 47%;
  bottom: 1%;
}



@media (max-width: 980px) {
  body{
    background-color:  #616161  ;
  }
  .container{
    column-width: 5px;
    column-count: 1;  


  }

 .titre{
  text-align: justify;
  position: relative;
  top: -35%;
 }
 
 .row100
{
 
  display: inline-block;
  width: 200px;
  height: 80px;
  color: white;
  cursor: pointer;
  
}
.container{
  column-width: 20px;
  column-count: 1;  

}
.table-container{
 position: fixed;
bottom: 20%;

 }
.header{
  top: -50px;
  right: -80px;
}

}