html
{
    background: red;
    
    
}

p{
    font-size: 1.2em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
   
}

#container
{
    padding-top: 15%;
}
form {
    width:30%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 0 auto;
   
}



/* Set a style for all buttons */
input[type=submit]
 {
    font-size: 1.3em;
    background-color: rgb(97, 19, 19);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit]:hover {
    background-color: #333;
    color: white;
    border: 1px solid rgb(97, 19, 19);;
}

