@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";



body, .badgescard, .firstinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

html {
  height: 100%;
}

header{
  position: relative;
  left:50%;
  top:-30%;
}
img:hover{
  transform: scale(2.5);
 }
body {
 
  width: 100%;
  min-height: 100%;
  background:#96B7C4;;
  font-size: 17px;
  overflow: hidden;
  height: 100%;
  
}

*, *:before, *:after {
  box-sizing: border-box;
}

.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
  font-size: 17px;
}

.card {
  width: 700px;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.card:after {
  content: '';
  display: block;
  width: 190px;
  height: 300px;
  background: linear-gradient(-45deg,darkorange ,#e2e2dd);
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}



.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}
.firstinfo img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.firstinfo .profileinfo {
  padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
  font-size: 1.8em;
}
.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #81959D;
  font-style: italic;
}
.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5A5A5A;
  line-height: 1.2;
  font-style: initial;
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 100px;
  }
}
@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}


img:before
{
    
    content: "PAS DE PHOTO DISPONIBLE";
    display: block;
    color: black;

}

/* RESPONSIVE  */
@media (max-width: 700px) {

  .card {
    width: 85%;
    height: 95%;
    text-align: justify;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    top: 20%;
    left: 5%;
    overflow: hidden;
    font-size: 10pt;
  }

  header{
    position: relative;
    left:1%;
    top:-9%;
  }
}

@media (max-height: 600px){
  header{
    position: relative;
    left:45%;
    top: -15%;
  }
  .card {
    width: 85%;
    height: 95%;
    text-align: justify;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    top: 30%;
    left: 3%;
    overflow: hidden;
    font-size: 10pt;
  }
}


@media (max-width: 600px) {

  .card {
    width: 85%;
    height: 90%;
    text-align: justify;
    top: 30%; 
    overflow: hidden;
    font-size: 10pt;
    
  }

  header{
    position: static;
  }

  
}
/* smartphone mode paysage*/

@media (max-height: 750px) {

  .card {
    width: 85%;
    height: 90%;
    text-align: justify;
    top: 35%; 
    overflow: hidden;
    
    
    
  }

  header{
    position: relative;
    top: -10%;
    left: 35%;
    
  }

  
}